/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
html {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
  line-height: normal;
  background-color: #F5FFFA;
  padding: 2em;
}

li {

  list-style: circle;
  list-style-position: inside;
}

nav {

  background-color: #ff621f;
  padding: 0;
  text-align: center;
}

nav li {

  display: inline-grid;
  text-align: center;
  padding: 1em;
  text-indent: 0;
  font-size: 1.5em;
}

nav li:hover {

  background-color: #963c15;
}

img {

  border-radius: 0 0 1.5625em 1.5625em  ;
  max-width: 100%;
  display: block;
}

figure {

  position: relative;
}

figcaption {

  position: absolute;
  width: 100%;
  bottom: 0;
}

p {

  padding-left: 1em;
  /* 10/16=0.625*/
  padding-top: 0.625em;
}

h1 {

  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h2 {

  font-size: 1.5em;
  font-weight: bold;
  background-color: #696969;
  padding: 0.5em;
  /*25/16=1.5625 */
  border-radius: 1.5625em 1.5625em 0 0;
  color: white;
}

h3 {

  font-size: 1.3em;
  font-weight: bold;
  padding: 0.5em;
}

ul {

  text-indent: 2em;
  /* 10/16=0.625*/
  padding-top: 0.625em;
}

section {

  background-color: #F8F8FF;
  width: 100%;
  min-width: 40vw;
  /*25/16=1.5625 */
  border-radius: 1.5625em;
}

#content {

  display: flex;
  flex-flow: row wrap;
  /* 10/16=0.625*/
  grid-gap: 0.625em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  justify-content: space-around;
}


input {

  height: 3em;
  width: 98%;
  justify-content: space-around;

}

@media all and (min-width: 800px) {

  section {

    width: 48%;
  }
}

@media all and (min-width: 600px) {

  section {

    width: 48%;
  }
}
