/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}

html {
  line-height: 1
}

body {
  line-height: inherit
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

/* stylelint-enable */

/* Begin site styles below */
html {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
  line-height: normal;
  background-color: #121212;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-family: 'Roboto Mono', monospace;

}


h4 {

  color: gray;
  font-size: 1.25em;


}

ul {

  list-style-type: circle;



}

li {

  list-style-type: circle;
  margin: .5em;

}

nav {

  padding: 0;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid orange;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {

  display: inline-block;
  text-decoration: none;
  margin: 0
}

nav li a {

  display: block;
  text-align: center;
  padding: 1em;
  text-indent: 0;
  font-size: 1.5em;

  text-decoration: none;
  color: orange;
}

nav li:hover a {

  background-color: black;
}

a {

  color: orange;


}

a:visited {

  text-decoration: none;
  color: orange;
}

img {

  max-width: 100%;
  min-width: 100%;
}

p {


  padding-top: 0.625em;
  font-size: 1.75em;
}

.intro {

  position: relative;
  text-align: center;
  color: white;
}

.intro-text {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold;
  text-shadow: 3px 3px black;


}


.homepage-tab {

  display: grid;
  grid-template-columns: repeat (3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  padding: 10em;

}

.homepage-tab-two {

  background-color: #FFFAFA;
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  padding: 10em;

}

.title-one {

  text-align: center;
  font-size: 3em;
  color: orange;

  grid-column: 1/3;
  grid-row: 1;


}



.image-one {

  grid-column: 1;
  grid-row: 2/3;
  max-width: 20em;
  max-height: auto;


}

.intro-one {

  grid-column: 2;
  grid-row: 2;
  max-width: 30em;


}


.link-one {


  font-size: 2em;
  font-weight: bold;
  text-align: center;
  grid-column: 2;
  grid-row: 4;
}



.title-two {

  text-align: center;
  font-size: 3em;
  color: orange;

  grid-column: 1/3;
  grid-row: 1;


}



.image-two {

  grid-column: 2;
  grid-row: 2/5;

  max-width: 20em;
  max-height: auto;


}

.intro-two {

  color: black;
  grid-column: 1;
  grid-row: 2/4;
  max-width: 30em;
}


.link-two {

  font-size: 2em;
  font-weight: bold;
  text-align: center;
  grid-column: 1;
  grid-row: 4;
  color: black;

}










#resume-content {

  display: grid;
  grid-template-columns: repeat (2, 1fr);

  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  padding: 1em;


}





.side-info {

  grid-column: 1;
  grid-row: 1/10;
  font-size: 0.75em;
  padding: 1em;




}


.image-side {



  max-width: 15em;
  max-height: auto;


}



.main-info {

  grid-column: 2;
  background-color: white;
  color: #474747;
  font-size: .75em;
  padding: 2em;
  border-radius: 1.5em;
  margin: .5em;






}

.main-info li {

margin-left: 2.5em;

}



.resume-main-title {


  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.resume-side-title {

  font-size: 2em;
  font-weight: bold;

}


#skills ul {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  /* Adjust as needed for spacing between bullet points */
  padding: 0;

}

#skills li {

  list-style-type: none;
}

#projectsContent {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40em, 1fr));


}

#projectsContent p {

  font-size: 1em;

}

#projectsContent h3 {

  font-size: 1.5em;
  font-weight: bold;

}

.applications {

  background-color: #474747;
  margin: 1em;
  border-radius: .5em;
  padding: .5em;
  height: fit-content;
  


}


.imageSection {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 1em;
  /* Adjust as needed for spacing between bullet points */
  padding: 0;


}
















@media all and (max-width: 1150px) {



  .title-one,
  .title-two {


    grid-column: 1/1;
    grid-row: 1;


  }



  .image-one,
  .image-two {

    grid-column: 1;
    grid-row: 2;


  }

  .intro-one,
  .intro-two {

    grid-column: 1;
    grid-row: 3;


  }


  .link-one,
  .link-two {

    grid-column: 1;
    grid-row: 4;


  }


}

@media all and (min-width: 600px) {}